{
  "environment": "prod",
  "debug": false,
  "Captcha": {
    "secret": ""
  },
  "ALV": {
    "milliAlvToTransfer": 5000,
    "gasLimit": "100000",
    "prod": {
      "rpc": "https://rpctestnet.alveycoin.com/rpc",
      "account": "",
      "privateKey": ""
    }
  }
}
